In [2]:
#pip install import-ipynb
import import_ipynb

In [4]:
from utility import regression

In [5]:
import numpy as np
import pandas as pd

import statsmodels
from sklearn.linear_model import LinearRegression as LR

from statsmodels.tsa.stattools import coint
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df_cu = pd.read_csv('CADUSD.csv',index_col = 'Date')
df_jc = pd.read_csv('JPYCNY.csv', index_col = 'Date')

In [7]:
df_cu.head()

               Close
Date
2015-01-01  0.860985
2015-01-02  0.861030
2015-01-05  0.847961
2015-01-06  0.850557
2015-01-07  0.844809

In [8]:
df_jc.head()

              Close
Date
2015-01-01  0.05179
2015-01-02  0.05173
2015-01-05  0.05170
2015-01-06  0.05201
2015-01-07  0.05223

In [9]:
#df_jc['constant'] = np.ones(len(df_jc))

In [10]:
model = regression(df_jc, df_cu)
model.fit()
model.report()

Beta Close: 12.638524016531589